.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 30%;
    padding-right: 30%;
}

.messages {
    flex: 1; /* take remaining space */
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.bottom_panel {
    margin-bottom: 0;
    min-height: 10vh;
}
.message {
    min-height: 20px;
    max-width: 40%;
    
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-start;
    
}
.right {
    margin-left: auto;
}

.message_container{
    border: 2px solid black;
    padding: 2px;
    border-radius: 8px;
    border-bottom-left-radius: 3px ;
}
.right-c{
    border-radius: 8px;
    border-bottom-left-radius: 8px ;
}