{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
    <title>Private chat</title>
</head>
<body>
    <div class="container">
        <div class="messages">
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
            <div class="message">
                <div class="user">you: </div>
                <div class="message_container">
                    Hello world Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem atque unde, possimus repudiandae ad necessitatibus!
                </div>
                
            </div>
        </div>
        <div class="bottom_panel">
            <form action="">
                <textarea type="text" id="text_for_send"></textarea>
                <button id="send">Send</button>
            </form>
        </div>
    </div>
    
    <script src="{% static 'chat/js/private_messages.js' %}"></script>
</body>
</html>